/* Untitled Goose Game - MOBILE Layout
------------------------
Note: I've made a bunch of selectors for you in this stylesheet. You won't necessarily use all of them and there might be some new ones that you'll need to add on your own. */

/* COLORS
------------------------
Dark Blue: #3D6BD5; 
Dark Grey: #A5A5A5;
Light Grey: #E9E9E9;
Red: #E20013;
------------------------*/

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}



/* Nintendo Top Navigation
------------------------------------------ */
header {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   padding: 1rem; 
}

header nav ul {
   list-style-type: none;
   color: black; 
   text-decoration: none;
}


header nav a {

}

header nav a:hover {

}



/* Hero Image
------------------------------------------ */
section.hero-image {

}

section.hero-image img {

}





/* Game Name & Price
------------------------------------------ */
/* ⬇ Container for name, price, and buy buttons */
section.game {
   text-align: center;
   font-size: medium; 
   margin: 2%;
   padding: 0.5rem; 
}

/* ⬇ Both the h1 and h2 */
section.game-title {

}

/* ⬇ Untitled Goose Game */
section.game-title h1 {

}

/* ⬇ Available Now */
section.game-title h2 {

}

/* ⬇ Price of the game */
p.price {
   
}

/* ⬇ Container for buy buttons */
div.buy {

}

/* ⬇ List with buy buttons */
div.buy li {

}

/* ⬇ Buy Digital & Buy Physical links */
div.buy a {
   background-color: #E20013;
   border: 2px solid #A5A5A5; 
   padding: 1rem;
   font-size: 75%; 
   display: block;
   border-radius: .5rem; 
   color: white;
   text-decoration: none;
   margin: .5rem; 
   transition: all 1s ease; 
}

div.buy a:hover {

}

div.options ul {
   display: flex; 
   flex-wrap: wrap;
   grid-gap: 0.5rem; 
   justify-content: center;
   list-style-type: none; 

}







/* Screen Shots
------------------------------------------ */
/* ⬇ Container area for screen shots */
section.screen-shots {
   background-color: blue;
   padding: 0.5rem; 
}

/* ⬇ Selects an individual image */
section.screen-shots img:nth-child() {

}

/* ⬇ Affects all screen shot images */
section.screen-shots img {
   border: 2px solid white; 
}

section.screen-shots img:nth-child(3);


/* Game Information
------------------------------------------ */
/* ⬇ Contains DESCRIPTION, GOOSE-BADGE, and PLAY-MODES */
main {
   display: grid; 
   grid-template-columns: 1fr;
   justify-content: space-around; 
   align-items: center; 
}



/* Description
------------------------------------------ */

/* ⬇ Container for game description info */
section.description {
   grid-row: 2/3;
   font-size: 1.2rem; 
   padding: 1.5rem; 
   line-height: 1.5; 
   align-items: center; 
   
}

/* ⬇ It's a lovely day in the village */
section.description h2 {

}

/* ⬇ Featuring */
section.description h3 {

}

/* ⬇ List of features */
section.description li {

}




/* Goose Badge Image
------------------------------------------ */
/* ⬇ Goose in yellow badge */
img.goose-badge {
   grid-column: 3/4;
   align-items: center; 
}




/* Play Modes
------------------------------------------ */
/* ⬇ Container for play modes area */
section.play-modes {
   grid-row: 1/2;
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr; 
   justify-content: space-between; 
   align-items: center; 
   grid-gap: 1rem; 
   padding: 1rem;
   background-color: lightskyblue;
}

/* ⬇ Play Modes title */
section.play-modes h2 {
   grid-column: 1/4; 
   font-size: 1rem; 
   text-align: center; 
   color: white;
}

/* ⬇ Play mode icon images */
section.play-modes img {
   
}



/* Footer
------------------------------------------ */
footer {
   background-color: red; 
   align-items: center; 
   color: white; 
}